<div class="container">
    <h2>Observables</h2>
    <div class="data-list" *ngFor="let data of data">
        {{data}}
    </div>

    <button (click)="getAsyncData()" class="btn btn-warning">Click</button>
</div>


<br><br>
<!-- signals -->
 <div class="container">
    <button (click)="degrement()">-</button>
    <span>{{counter()}}</span>
    <button (click)="increment()">+</button>
 </div>

 <br>
 <h1>Product ID: {{ productId }}</h1>


 <div class="filter-container">
    <!-- Search input for filtering -->
    <input type="text" placeholder="Search by name..." [(ngModel)]="searchProduct" />
  </div> 


 <div class="product-list">
    <p>Display the filtered products </p>
    <ul>
      <li *ngFor="let product of filterProducts()">
        {{ product.name }} ({{ product.category }}) - ${{ product.price }}
      </li>
    </ul>
  </div>
